@font-face {
    font-family: "Opificio-regular";
    src: url("/assets/fonts/opificio/Opificio_regular.ttf");
  }
  
  @font-face {
    font-family: "Opificio-bold";
    src: url("/assets/fonts/opificio/Opificio_Bold.ttf");
  }
  
  @font-face {
    font-family: "Opificio-light";
    src: url("/assets/fonts/opificio/Opificio_light.ttf");
  }
  