<div class="c-register">
  <div class="no-gutters img-responsive mh-100">
    <div class="container">
      <div class="row main-row">
        <div class="col-4">
          <button class="btn-register mx-auto" (click)="openLg()">
            <img
              id="registerBtn"
              src="./assets/images/icons/new.png"
              alt="Icono registrar"
            />Registrar Nuevo
          </button>
          <img
            src="./assets/images/media/inclutec_bitacora.png"
            alt="Icono Inclutec"
          />
        </div>
        <div class="col-4">
          <app-tasks></app-tasks>
        </div>
        <div class="col-4">
          <app-pending></app-pending>
        </div>
      </div>
    </div>
  </div>
</div>
