.c-about{
    .no-gutters{
        background: url(src/assets/images/media/Background2.png);
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
        height: 100vh;
    }
    
}