<div class="row">
  <div class="col-md-8 offset-md-2">
    <app-notifications
      role="alert"
      *ngIf="isReady"
      [isShow]="isReady"
      [typeSuccess]="typeSuccess"
      [message]="messageModal"
      (notificationEvent)="handleNotificationEventEmitted($event)"
    ></app-notifications>
  </div>
</div>
<h1 mat-dialog-title class="title">Cambiar contraseña</h1>
<div mat-dialog-content>
  <form class="custom-form mx-auto" [formGroup]="passwordForm">
    <mat-form-field class="c-form-input mb-3" appearance="fill">
      <mat-label>Ingrese la contraseña actual</mat-label>
      <input
        cdkFocusInitial
        required
        matInput
        [type]="hideOld ? 'password' : 'text'"
        class="left"
        formControlName="oldPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOld = !hideOld"
        [attr.aria-label]="'Ocultar contraseña'"
      >
        <mat-icon>{{ hideOld ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls.oldPassword.hasError('required')">
        Ingrese la contraseña <strong>actual.</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="c-form-input mb-3" appearance="fill">
      <mat-label>Ingrese la contraseña nueva</mat-label>
      <input
        required
        matInput
        formControlName="newPassword"
        class="left"
        [type]="hideNew ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Ocultar contraseña'"
      >
        <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls.newPassword.hasError('required')">
        Ingrese la contraseña <strong>nueva.</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="c-form-input mb-3" appearance="fill">
      <mat-label>Repita la contraseña</mat-label>
      <input
        required
        matInput
        formControlName="confirmPassword"
        class="left"
        [type]="hideConfirm ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirm = !hideConfirm"
        [attr.aria-label]="'Ocultar contraseña'"
      >
        <mat-icon>{{ hideConfirm ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.controls.confirmPassword.hasError('required')"
      >
        Repita la contraseña<strong>puesto.</strong>
      </mat-error>
      <mat-error
        *ngIf="passwordForm.controls.confirmPassword.hasError('notEquivalent')"
      >
        Las contraseñas no conciden.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="btn-group mx-auto mb-4">
    <button
      mat-button
      (click)="onNoClick('cancel')"
      class="c-custom-btn"
      id="cancel"
    >
      Cancelar
    </button>
    <button
      mat-button
      class="c-custom-btn"
      id="add"
      (click)="updatePassword(passwordForm.value)"
      [disabled]="passwordForm.invalid"
    >
      Actualizar
    </button>
  </div>
</div>
