$color-light-green: #207073;
$color-input-gray: #d8d8dd;
$color-dark-green: #012021;
$color-light-gray: #e7e7e7;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #4b4b4b;
$color-green: #1e884b;
$color-red: #860e35;
$color-blue-green: #0f828a;
$color-dark-gray: #9b9da8;
$color-gray: #d3d3d3;
$color-table-shadow: #00000029;
$font-opificio: "Opificio";
$font-Monserrat: "Montserrat";

.title {
  text-align: center;
  font-family: $font-opificio;
  font-weight: bold;
  padding: 10px;
}
.custom-form {
  width: 60%;
  height: 100%;
  .c-form-input {
    width: 100%;
    font-family: $font-Monserrat;
  }
  .left {
    text-align: left;
  }

  .form-subtitle {
    font-size: 20px;
    color: $color-light-green;
    font-family: $font-Monserrat;
    font-weight: bold;
  }
  .custom-margin-top {
    margin-top: 15%;
  }
}
.c-custom-btn {
  background-color: $color-light-green;
  color: $color-white;
  font-family: $font-Monserrat;
  margin: 10px;
  border-radius: 30px;
  width: 185px;
}
.c-custom-btn:disabled {
  background-color: $color-dark-gray;
}
#cancel {
  background-color: $color-gray;
  color: $color-black-light;
}
#add {
  margin-left: 5%;
  font-weight: bold;
}
.sub-title {
  font-size: 13px;
  font-family: $font-Monserrat;
  color: $color-black-light;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: $color-light-green !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $color-light-green !important;
}
