$color-dark-green: #153f41;
$color-light-green: #aae3e5;
$color-green: #207073;
$color-white: white;
$color-light-gray: #d4d5da;
$color-black: black;
$color-gray: #707070;
$font-montserrat: "Montserrat";

.row {
  margin: 0;
}
.search-filter {
  width: 95%;
  background-color: $color-dark-green;
  .lable-search {
    color: $color-white;
  }
  ::ng-deep .mat-form-field-underline {
    background-color: $color-white;
  }
  .mat-form-field-outline,
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-label,
  .mat-form-field-underline,
  .mat-input-element,
  ::placeholder {
    color: $color-white !important;
  }
}
table {
  width: 95%;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: $color-green;
  font-family: $font-montserrat;
  th {
    background-color: $color-green;
    color: $color-white;
    font-size: 14px;
    padding-bottom: 14px;
    text-align: justify;
  }
  td {
    font-size: 12px;
    width: 30px;
  }
  .btn-img:hover {
    cursor: pointer;
  }
  .edit-icon {
    font-size: 18px;
  }
  .btn-edit {
    background-color: $color-white;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  .moreInfo-icon {
    background-color: $color-green;
    color: $color-white;
    padding: 3px;
    border-radius: 3px;
  }
  hr {
    border-bottom: 5px;
    border-color: $color-dark-green;
  }
}
