.c-dashboard{
    .no-gutters{
        background: url(src/assets/images/media/Background.png);
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
        height: 1000px;
    }
}
