<div class="c-register">

    <div class="container-img">
        <div class="icon-text-container">
          <i
            class="fas fa-chevron-circle-left custom-back-icon d-block"
            tabindex="0"
            role="button"
            (click)="backClicked()"
            aria-label="Atrás"
            aria-labelledby="atras"
          ></i>
          <span aria-hidden="true" class="back-icon-text" id="atras">atrás</span>
        </div>
        <!--img src="./assets/images/media/inclutec_blanco.png" alt="Icono Inclutec" /-->
      </div>
      
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="d-block">
            <h1 aria-label="Restablecer Contraseña"><b>Restablecer Contraseña</b></h1>
          </div>
          <p>Por favor, ingrese su dirección de correo electrónico y le enviaremos una contraseña de uso temporal.</p>
          <form [formGroup]="forgottenPasswordForm">
            <div class="form-group">
              <label for="email" class="required-text">Correo Electrónico<b>*</b></label>
              <input
                type="email"
                class="c-input-round"
                id="email"
                formControlName="email"
                placeholder="Ingrese su correo electrónico"
              />
              <div *ngIf="forgottenPasswordForm .controls.email.invalid && (forgottenPasswordForm .controls.email.dirty || forgottenPasswordForm .controls.email.touched)">
                <div *ngIf="forgottenPasswordForm .controls.email.errors.required" class="custom-danger-alert">
                  Por favor, ingrese su correo electrónico
                </div>
                <div *ngIf="forgottenPasswordForm .controls.email.errors.pattern && !forgottenPasswordForm .controls.email.errors.required" class="custom-danger-alert">
                  Por favor, ingrese un correo electrónico válido
                </div>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-6 mx-auto">
                <button class="btnRegister" [disabled]="forgottenPasswordForm .invalid" (click)="changePassword()">
                  Restablecer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  