$color-white: white;
$color-pink: #d05079;
$color-light-pink: #f8d7da;
$color-green: #207073;
$color-gray: gray;
$color-red: #732129;
$font-opificio: "Opificio";
$font-lucida: "Lucida Sans";

.c-register {
  font-family: $font-opificio;
  .container-img {
    width: 100%;
    height: 200px;
    background-image: url(src/assets/images/media/background3.png);
    background-size: cover;
    opacity: 1;

    .back-icon {
      margin-top: 30px;
      margin-left: 70px;
    }
    .back-icon:hover {
      cursor: pointer;
    }
    .custom-back-icon {
      color: $color-white;
      font-size: 40px;
    }
    .back-icon-text {
      color: $color-white;
      font-size: 20px;
    }
  }

  .required-text {
    color: $color-pink;
  }

  .custom-asterisk {
    font-size: 10px;
  }
  .font-opificio {
    font-family: $font-opificio;
  }

  p {
    margin-bottom: 50px;
  }

  .mt-custom {
    margin-top: 30px;
  }

  .mt-country {
    margin-top: 20px;
  }

  .c-input-round {
    padding-left: 30px;
    font-size: 14px;
    border: 1px solid $color-gray;
    border-radius: 30px;
    width: 70%;
    height: 40px;
  }

  .btnRegister {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: $color-green;
    color: $color-white;
    width: 155px;
    height: 40px;
    border: none;
    border-radius: 20px;
  }
  .btnRegister:disabled {
    background-color: $color-gray !important;
  }
  .custom-danger-alert {
    margin-top: 10px;
    background-color: $color-light-pink;
    color: $color-red;
    padding: 10px;
    width: 70%;

    span {
      font-family: $font-lucida;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
